* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.info {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 8px;
  visibility: hidden;
}

.findLocation button {
  padding: 10px;
  font-size: 18px;
  width: auto;
  height: auto;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px 0;
  background: #120357;
  color: #ffffff;
}

.reload button {
  padding: 10px;
  font-size: 18px;
  width: auto;
  height: auto;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px 0;
  color: #120357;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.info p {
  font-size: 30px;
  margin: 20px 0;
  font-weight: bolder;
  color: #120357;
}

li {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #0c6304;
  margin-bottom: 10px;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}

li span {
  color: black;
}
